html {
     background-image: url("forestbackground.jpg");
     background-repeat:no-repeat;
     background-size:cover;
     font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    fill-opacity: 0.8;
    width: 950px;
    margin: 0 auto;
}

h1, h2, h3 {
    
}

.container1 {
    display: grid;
    margin: 2rem auto 2rem auto;
    width: 900px;
}

.container2 {
    display: grid;
    grid-template-columns: 2fr, 1fr;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #202020;
}

.navigation li {
    float: right;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #111;
}

li {
    list-style: none;
}
li a {
    text-decoration: none;
}

#personalPhoto {
    width: 150px;
}
